//Black
$disney-black-sub-text: #333;
$disney-black: #222222;

//Grey
$disney-grey: #666;
$disney-light-grey: #f1f2f3;

//Red
$disney-red: #e53e3e;

// Teal
$disney-dark-teal: #15394a;
$disney-light-teal: #1a4a5e0d;
$disney-teal: #1a4a5e;

//White
$white: #FFFFFF;